/*this is a cool code*/
* {color: blue; font-size: 21px;}
.green-text { color : green; }
#blue-text { color : blue; }
p:nth-child(2){
  background: red;
}
h1 {
color: 
blue; /* color of all the elements should be blue */
} 
p {
background-color: 
aliceblue;
color: 
maroon;
}
[title] {
color: 
red; /* sets color to red */
}
p {
  color: red;
  text-align: center;
} 
p {
  color: red; /* Set text color to red */
}
<h1 style="background-color:DodgerBlue;">Hello World</h1>
p {
  background-color: yellow;
}
p {
  margin: 25px 50px 75px 100px;
}
p {
  font-family: "Times New Roman", Times, serif;
}
p.dotted {outline-style: dotted;}